@keyframes Question-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.Question-Heading {
    color: white;
    animation: Question-fade 3s;
    font-size: 50px;
}

.Question-Worth {
    color: white;
    animation: Question-fade 6s;
    font-size: 25px;
}

.Question-Text {
    color: white;
    animation: Question-fade 9s;
    font-size: 40px;
}